*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg,#AACFCF,#ffe0ac);
    
    color: #000000;
    
    font-family: 'MuseoModerno', cursive;
    text-align: center;
    font-size: xx-large;
    
   
}


form{
    min-height: 20vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    
}

form input,
form button{
    padding: 0.5rem;
    font-size: 1.8rem;
    font-family: 'Franklin Gothic Medium';
    border: none;
    background: white;
}

form button{
   color: #2A9D8F;
   background: #FFFFFF;
   cursor: pointer;
   transition: all 0.3s ease; 
}
form button:hover{
    background: #2A9D8F;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.Lists{
    min-width: 30%;
    list-style: none;
    padding: .5;
}
.todo{
    margin:.5rem ;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex:1;
}
.Delete-Btn, .Completed-Btn{
    background: #2A9D8F;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}
.Completed-Btn{
    background: #E76F51;
}

.fa-trash,
.fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    opacity:0;
    transform: translateY(8rem) rotateZ(20deg);
    
}
.hiP {
    color: red;
  }
  
  .medP {
    color: blue;
  }
  
  .lowP {
    color: green;
  }